
@font-face {
    font-family: 'norsebold';
    src: url('./fontage/norse-bold-webfont.woff2') format('woff2'),
         url('./fontage/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    position: relative;
    width: 100vh;
    height: 100vh;
}
.bacground{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.leftside ,.maincontent{
    border: 0.5px solid black;
}
.leftside{
    flex: 1.5;
    display: flex;
    align-items: center;
}
.fontbg{
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    
}
h1{
    color: white;
    font-family: "norsebold";
    font-size: 4rem;
}
.maincontent{
    background-color: #94b9f7;
    flex: 3;
    display: flex;
    flex-direction: column;
}
.rightside{
    
    border: 0.5px solid black;
    flex: 1;
    position: relative;
}
.top{
  
    display: flex;
    align-items: flex-end;
    background-color: #6da1fc;
}
.topt{
    position: absolute;
    left: 3rem;
top: 7rem;
}
.lefttop{
    position: absolute;
    left: 3rem;
    bottom: 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.middle{
    margin: 1rem;
   display: flex;
   
   width: 35rem;
}
form{
    position: relative;
    display: flex;
    padding: 1rem;
    padding-top: 2rem;
    gap: 1.5rem;
   flex-wrap: wrap;
}
legend{
    position: absolute;
    top: 0.2rem;
}
.split{
    width: 10rem;
    height: 3rem;
}
